<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block styles %}{% end %}
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li id="home-link"> <a href="/">Home</a> </li>
                    <li id="users-link"> <a href="/users">List of Users</a> </li>
                    <li id="clients-link"> <a href="/clients">Clients</a> </li>
                    <li>
                        <a href="#moreOptionsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">More</a>
                        <ul class="collapse list-unstyled" id="moreOptionsSubmenu">
                            <li> <a href="/logout">Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h2 id="page-title" style="margin-left: 20px; margin-top: 7px; align-items: flex-start;"></h2>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <h3>{{my_fullname}} &#128317;</h3>
                            <!-- <h3>Gaman Aryal &#11167;</h3> -->
                        </ul>
                    </div>
                </div>
            </nav>


            <!-- Page Content  -->
            <div id="main-body">
                {% block content %}{% end %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var path = window.location.pathname;

            var pageTitle;
            var activeLinkId;

            switch (path) {
                case "/":
                    pageTitle = "Home";
                    activeLinkId = "home-link";
                    break;
                case "/users":
                    pageTitle = "List of Users";
                    activeLinkId = "users-link";
                    break;
                case "/clients":
                    pageTitle = "Clients";
                    activeLinkId = "clients-link";
                    break;
                default:
                    pageTitle = "Not Found";
                    activeLinkId = null;
            }

            document.title = pageTitle;

            var pageTitleElement = document.getElementById("page-title");
            if (pageTitleElement) pageTitleElement.textContent = pageTitle;

            // Remove active class from all links
            var navLinks = document.querySelectorAll(".nav-link");
            navLinks.forEach(function (link) {
                link.classList.remove("active");
            });

            // Add active class to the corresponding link
            if (activeLinkId) {
                var activeLink = document.getElementById(activeLinkId);
                if (activeLink) activeLink.classList.add("active");
            }
        });

        function redirect(plus_url, id) {
            var baseURL = window.location.origin;
            var fullURL = baseURL + plus_url
            if (id) fullURL = fullURL + id;
            console.log(fullURL);
            window.location.href = fullURL;
        }

        function attachSubmitOnEnterListener(inputElementId, formElementId) {
            console.log(inputElementId);
            console.log(formElementId);
            document.getElementById(inputElementId).addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    document.getElementById(formElementId).submit();
                    // document.getElementById("client-list-search-form").submit();
                }
            });
        }

    </script>

    {% block scripts %}{% end %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>