<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">

        {% if error_msg %}
            <p style="color: red;">{{ error_msg }}</p>
        {% end %}

        <label for="email_or_number">Email or Number:</label>
        <input type="text" id="email_or_number" name="email_or_number" placeholder="Email or Number" value="{{email_or_number}}">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" value="{{password}}">
        <br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/register">Create new account</a>.</p>
</body>
</html>
